{% extends "layout.html" %}

{% block body %}
    <div class="container my-4">
        <h1>Signup Page</h1>
        <form class="my-4" enctype="multipart/form-data" method = "post" action="/signup/">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{message.tags}} !</strong> {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">First Name </label>
                <input type="text" class="form-control" name="first_name" id="inputEmail4" placeholder="Enter First Name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="inputPassword4" placeholder="Enter Last Name" required>
              </div>
            </div>
            <div class="form-row">
                <div class="mb-3 col-md-6">
                    <label for="formFile" class="form-label">Upload Profile Picture</label>
                    <input class="form-control" type="file" name="picture" id="formFile" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Username</label>
                    <input type="text" class="form-control" name="username" id="inputPassword4" placeholder="Enter Username" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email Id</label>
                    <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Enter Email id" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" name="password" id="inputPassword4" placeholder="Enter Password" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Confirm Password</label>
                    <input type="password" class="form-control" name="conform_password" id="inputPassword4" placeholder="Enter conform Password" required>
                </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Line1</label>
              <input type="text" class="form-control" name="line" id="inputAddress" placeholder="Enter Line" required>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" name="city" id="inputCity" placeholder="Enter City" required>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" name="state" id="inputCity" placeholder="Enter State" required>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">pincode</label>
                <input type="text" class="form-control" name="pincode" id="inputZip" placeholder="Enter Pincode" required>
              </div>
            </div>
            <fieldset class="form-group">
              <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                  <div class="col-sm-10">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="role" id="gridRadios1" value="Patient" checked>
                          <label class="form-check-label" for="gridRadios1">
                              Patient
                          </label>
                      </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="role" id="gridRadios2" value="Doctor" >
                      <label class="form-check-label" for="gridRadios2">
                          Doctor
                      </label>
                  </div>
              </div>
            <button type="submit" class="btn btn-primary mt-2">Sign in</button>
            <a href="/signin/" class="mx-5 mt-3">I have an account</a>
        </form>
    </div>
    
{% endblock %}